<!DOCTYPE html>
<html>
<head>
    <title>Python</title>
    <style>body{
    background-color: black;
    color: seashell;
    }
    </style>
</head>
<body>
    <h2>Example 1</h2>
    <h3>{{p1}}</h3>
    <h3>{{p2}}</h3>
    <h3>{{p3}}</h3>

    <h2>Example 2</h2>
    <h3>{{p1|floatformat}}</h3>
    <h3>{{p2|floatformat}}</h3>
    <h3>{{p3|floatformat}}</h3>
    
    <h2>Example 3</h2>
    <h3>{{p1|floatformat:3}}</h3>
    <h3>{{p2|floatformat:3}}</h3>
    <h3>{{p3|floatformat:3}}</h3>
    
    <h2>Example 4</h2>
    <h3>{{p1|floatformat:0}}</h3>
    <h3>{{p2|floatformat:0}}</h3>
    <h3>{{p3|floatformat:0}}</h3>

    <h2>Example 5</h2>
    <h3>{{p1|floatformat:-3}}</h3>
    <h3>{{p2|floatformat:-3}}</h3>
    <h3>{{p3|floatformat:"-3"}}</h3>
</body>
</html>